# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:password@localhost:5432/mydatabase"

# Redis
REDIS_URL="redis://localhost:6379"
REDIS_CACHE_KEY='songs'

SONG_LIST_URL1="https://kicku-tw.blogspot.com/2023/06/youtube01.html#more"
SONG_LIST_URL2="https://kicku-tw.blogspot.com/2023/06/youtube02.html#more"
